.pioenvs/
.pio/
Thumbs.db
.DS_Store
*.orig
embedded/node_modules
embedded/dist
*~
.pio/
.vscode/
.history/
*.pyc
.vs/
Debug/
Release/
*.vsarduino.h
__vm/
*.user
*.vcxproj
*.vcxproj.filters
*.suo
Grbl_Esp32.ino.cpp
/packages
