.pioenvs/
.pio/
Thumbs.db
.DS_Store
*.orig
embedded/node_modules
embedded/dist
*~
.pio/
.vscode/
.history/
*.pyc
.vs/
Debug/
Release/
*.vsarduino.h
__vm/
*.user
Grbl_Esp32.vcxproj
Grbl_Esp32.vcxproj.filters
*.suo
Grbl_Esp32.ino.cpp
packages/
pio_machine.h
project.checksum
